* {
  box-sizing: border-box;
}

/* Общая обертка приложения */

.app__wrap {
  display: flex;
  margin: auto;
  height: 750px;
  width: 80%;
}

/* Обертка списка фильмов */

.catalog__wrap {
  margin: 10px 0px 0px 3%;
  width: 25%;
  height: 550px;
}

/* Обертка карточки */

.content__wrap {
  border: 1px solid #000;
  margin: 10px 50px 0px 7%;
  width: 60%;
  height: 600px;
}

/* Поле поиска и список */

.search-field {
  margin: 0px 0px 0px 3%;
  border: 1px solid #000;
  width: 100%;
  height: 30px;
}

.item-list {
  margin: 10px 0px 0px 3%;
  border: 1px solid #000;
  width: 100%;
  height: 560px;
}

.items-list {
  display: f;
  width: 100%;
  height: 460px;
  overflow: auto;
  padding: 10px;
}

.film-in-list {
  margin-top: 10px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.film-in-list:hover {
  border: 1px solid #000;
  border-radius: 10px;
}

.image-in-list {
  width: 30%;
  height: auto;
  max-height: 100px;
  padding: 5px;
}
.button-div {
  opacity: 0;
}

.film-in-list:hover > .button-div {
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.delete-button,
.edit-button {
  margin: 0px 10px;
  width: 20px;
  height: 20px;
  border: none;
}
.delete-button {
  background-image: url(./picturedatabase/close.png);
}

.edit-button {
  background-image: url(./picturedatabase/edit.png);
}

/* Кнопки добавления */

.buttons__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 0px 30px;
  height: 30px;
}

/* Форма добавления позиции */

.adding-form__wrap {
  margin: 20px auto;
  position: absolute;
  display: none;
  border: 1px solid #000;
  height: 550px;
  background-color: aqua;
  width: 25%;
  left: 45%;
}

.adding-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 20px;
}

/* Элементы формы */

.label-title {
  margin-top: 20px;
}

.description,
.note {
  height: 100px;
  resize: none;
}

.submit-button {
  margin-top: 20px;
}

/*карточка фильма в главном меню*/

.film-cart__wrap {
  width: 95%;
  height: 95%;
  margin: auto;
}

.film-title__wrap {
  height: 40px;
  width: 80%;
  border: 1px solid #000;
  margin: 10px auto;
}

.film-title {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.film-image__wrap {
  height: 300px;
  width: 40%;
  margin: 10px auto;
  border: 1px solid #000;
}

.film-image {
  height: auto;
  width: 100%;
  max-height: 300px;
}

.film-description {
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #000;
}

.film-note {
  width: 100%;
  height: 60px;
  resize: none;
  border: 1px solid #000;
}
